.flex {
    width: 75vw;
    height: 60px;
    line-height: 51px;
    background-color: white;
    border: 2px solid #0a369d;
    margin: auto;
    max-width: 700px;
}
.flex ul {
  display: grid;
  grid-template-areas : 'pp p i n nn' 'bar bar bar bar bar'; 
  padding: 0;
  margin: 0;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
}
.flex ul li {
  list-style: none;
  text-align: center;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  transition: 0.5s ease;
  cursor: pointer;
  user-select: none;
}
.flex ul li:nth-child(1){
	grid-area: pp;
}
.flex ul li:nth-child(2){
	grid-area: p;
}

.flex ul li:nth-child(3){
	grid-area: i;
}

.flex ul li:nth-child(4){
	grid-area: n;
}

.flex ul li:nth-child(5){
	grid-area: nn;
}



.flex ul li:hover {
    background-color: rgb(221, 233, 246,0.5);
  color: #0a369d;
}
.flex ul li:hover:nth-of-type(1) ~ .bar {
  margin-left: 0px;
}
.flex ul li:hover:nth-of-type(2) ~ .bar {
  margin-left: 20%;
}
.flex ul li:hover:nth-of-type(3) ~ .bar {
  margin-left: 40%;
}
.flex ul li:hover:nth-of-type(4) ~ .bar {
  margin-left: 60%;
}
.flex ul li:hover:nth-of-type(5) ~ .bar {
  margin-left: 80%;
}
.flex ul .bar {
  width: 20%;
  background-color: #0a369d;
  height: 6px;
  transition: 0.5s ease;
  grid-area: bar;
  margin-left:40%;
  padding-left:2px;
  padding-right:2px;
}
